<!DOCTYPE html>
<html lang="en">
<!-- THE HEAD TAG PARTIAL -->
<%- include("partials/head") %>

    <body>
        <!-- THE HEADER TAG PARTIAL -->
        <%- include("partials/header") %>
        <main>
            <hr />
            <!-- *********DISPLAY OUR GOALS********* -->
            <h1 class="title">My Nonprofits</h1>
            <a href="/auth/logout"><button class="button">Logout</button></a>
            <br />
            <br />
            <br />
            <hr />
            <!-- **********NEW GOALS FORM**************** -->
            <!-- <form action="/nonprofits" method="post">
                <input type="text" placeholder="new image" name="url" />
                <input type="submit" value="add image" />
            </form> -->

            <% for (nonprofit of nonprofits) { %>
               
            <img src="<%=nonprofit.url%>" alt="" width="420px" >
            <nav>
                <a href="/nonprofits/new">Create</a>
            </nav>
          

            <nav>
                <a href="/nonprofits/<%=nonprofit.id; %>">Edit</a>
            </nav>
            
                <li>
                    The Non Profit Name: 
                    <a href="/nonprofits/<%=nonprofit.id; %>"> 
                        
                        <%=nonprofit.name; %></a>
                        <br />
                        Donation Catagory: <%=nonprofit.theme; %>
                        <br />
                        Description <%=nonprofit.description; %>
                        <% if(nonprofit.iHaveDonated===true){ %>
                            <br />
                            
                            I have Donated
                            <% } else { %>
                                I have not donated
                                <% } %>
                                
                                <form action="/nonprofits/<%= nonprofit.id %>?_method=DELETE" method="POST">
                                    <input type="submit" value="DELETE" />
                                    
                                </form>
                                <hr />
                                <% } %>
        </main>
            <!-- THE HEAD TAG PARTIAL -->
        <%- include("partials/footer") %>


    </body>

</html>